@import "pallete";

//Fonts
$btn-font-weight: 200;
$font-family-sans-serif: "Courier", monospace;

//Colors
$brand-primary: $palette-darker;
$brand-success: $palette-light;
$brand-info: $palette-lighter;
$brand-warning: $palette-dark;
$brand-danger: $palette-normal;
$input-border-focus: $palette-darker;

$navbar-default-bg: $palette-darker;
$navbar-default-border: $palette-darker;
$navbar-padding-vertical: 8px;

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "welcome-page";
@import "well";
@import "panel";
@import "quote";